<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="/pokegame.css" type="text/css">
        <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
        <title>PokeGame</title>
    </head>

    <body>
        <div class="title"><p>Guess The Pokémon Based On These Stats!</p></div>
        <div class="centered">
            <%- text %>
        </div>
        <a href="/guess"><button>Guess Again</button></a>
        <a href="/"><button>Home</button></a>
    </body>
</html>